# dependencies
**/node_modules

# build output
**/dist
**/.cache
**/.tmp
**/build

# env
**/.env
**/.env.*

# logs
**/*.log

# OS
.DS_Store
Thumbs.db

# Strapi specific
.strapi
.strapi-updater.json
.strapi-cloud.json
public/uploads/*
!public/uploads/.gitkeep
exports/
license.txt
.tsbuildinfo
.eslintcache

# IDE
.vscode/
.idea/

# Test coverage
coverage/

# Package manager
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

# Archives
*.7z
*.zip
*.tar.gz

# Optional: product images (if they're dev/test)
# products/
